{{define "feedback"}}

    <div class="container max-w-full sm:px-20 p-4 bg-white">
        <div id="default-carousel" class="relative w-full" data-carousel="slide">
            <div class="relative h-56 overflow-hidden rounded-lg xl:h-96">
                <div class="duration-700 ease-in-out" data-carousel-item>
                    <img src="/images/401-bfreview6-16801207706371.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Mystic case feedback">
                </div>
            </div>
        </div>
    </div>

{{end}}