{{define "main"}}

    <main class="container max-w-full">
        <div class="w-full bg-white text-mc-purple">
            <div class="container flex justify-center flex-col md:px-0 px-4 md:pt-20 pt-10">
                <div class="flex mx-auto mb-8">
                    <h2 class="text-4xl font-bold">
                        {{.BoxName}} Hints
                    </h2>
                </div>
                <div class="border-t border-mc-light-purple container mb-4"></div>
                <div class="flex flex-col items-center mx-auto mb-4 space-y-4">
                    <p class="w-fit">You can use hints below if you are stuck.</p>
                    <p>PLEASE NOTE: the <span class="text-red-400">hints below are NOT cyphered</span>, so make sure you expand the one that you need in order not to spoil the other clues 😉</p>
                </div>
                <div class="border-t border-mc-light-purple container mb-4"></div>
            </div>
        </div>
        <div class="container max-w-full flex items-center justify-center flex-col">
            {{range $h_index, $hint := .Hints}}
                <div class="container max-w-full pt-8 flex items-center justify-center flex-col pb-4 px-4 shadow-none last:shadow-none">
                    <div class="container flex justify-center items-center flex-col">
                        <div class="text-3xl font-semibold mb-6">
                            <h2 class="text-mc-purple">{{$hint.Name}}</h3>
                        </div>
                        {{range $s_index, $step := $hint.Steps}}
                            <div class="flex items-center justify-center w-full flex-col mb-12">
                                {{if $step.Name}}
                                    <div class="flex w-full justify-center items-center text-2xl font-semibold mb-4">
                                        <p class="text-mc-purple">{{$step.Name}}</p>
                                    </div>
                                {{end}}
                                <div class="w-full">
                                    {{range $t_index, $tip := $step.Tips}}
                                        <div x-data="{ expanded: false }" class="border-b-2 border-mc-light-purple py-2">
                                            <h2>
                                                <!-- text-mc-purple border border-b border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-100 gap-3 -->
                                                <button 
                                                    id="accordion-collapse-heading-{{$s_index}}-{{$t_index}}"
                                                    type="button"
                                                    class="flex items-center justify-between w-full font-bold text-xl py-2"
                                                    data-accordion-target="#accordion-collapse-body-{{$s_index}}-{{$t_index}}"
                                                    @click="expanded = !expanded"
                                                    :aria-expanded="expanded"
                                                    aria-controls="accordion-collapse-body-{{$s_index}}-{{$t_index}}"
                                                >
                                                    <span class="text-mc-purple">{{$tip.Name}}</span>
                                                    <svg class="fill-[#B3D138] shrink-0 ml-8" width="28" height="28" xmlns="http://www.w3.org/2000/svg">
                                                        <rect y="12" width="28" height="4" rx="2" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                                        <rect y="12" width="28" height="4" rx="2" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                                    </svg>
                                                </button>
                                            </h2>
                                            <div
                                                id="accordion-collapse-body-{{$s_index}}-{{$t_index}}"
                                                role="region"
                                                class="grid overflow-hidden transition-all duration-300 ease-in-out"
                                                :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                                                aria-labelledby="accordion-collapse-heading-{{$s_index}}-{{$t_index}}"
                                            >
                                                <div class="overflow-hidden">
                                                    {{range $tt_index, $text := split $tip.Text}}
                                                        <p class="pb-3 text-mc-purple">{{$text}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                    {{end}}
                                </div>
                            </div>
                        {{end}}
                    </div>
                </div>
            {{end}}
        </div>
        <div class="w-full bg-white text-mc-purple pb-10">
            <div class="container flex justify-center flex-col md:px-0 px-4 pt-8">
                <div class="border-t border-mc-light-purple container mb-4"></div>
                <div class="text-center space-y-4">
                    <p>We hope you really enjoyed your time playing Mystic Case and if something is still unclear - please feel free to contact us via direct message in our social media or email.</p>
                    <p>We’ll be happy to provide you with explanations of the logic 😊</p>
                    <p></p>
                    <p>We appreciate sharing your experience of Mystic Case boxes on social media or giving recommendations on our <a class="text-xl text-[#b3d138]" href="https://www.facebook.com/mysticcase.fb/" target="_blank">Facebook page</a> 😊</p>
                    <p class="text-xl">Thank you! 🤗</p>
                </div>
            </div>
        </div>
    </main>

{{end}}
