{{define "last_word"}}

    <div class="w-full bg-white text-mc-purple pb-10">
        <div class="container flex justify-center flex-col md:px-0 px-8 pt-8">
            <div class="border-t border-mc-light-purple container mb-4"></div>
            <div class="text-center space-y-4">
                <p>We hope you really enjoyed your time playing Mystic Case and if something is still unclear - please feel free to contact us via direct message in our social media or email.</p>
                <p>We’ll be happy to provide you with explanations of the logic 😊</p>
                <p></p>
                <p>We appreciate sharing your experience of Mystic Case boxes on social media or giving recommendations on our <a class="text-xl text-[#b3d138]" href="https://www.facebook.com/mysticcase.fb/" target="_blank">Facebook page</a> 😊</p>
                <p class="text-xl">Thank you! 🤗</p>
            </div>
        </div>
    </div>

{{end}}