{{define "main"}}

    <main class="container m-0 max-w-full">
        <div class="container max-w-full sm:px-20 pb-20 bg-mc-purple">
            <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
                <div>
                    <div class="flex justify-center items-center relative">
                        <img class="z-10" src="/images/box-ghosts-1.png" alt="Chest_with_ghosts">
                        <div class="absolute bg-white mix-blend-overlay rounded-full md:blur-5xl blur-4xl h-full w-full"></div>
                    </div>
                </div>
                <div class="flex justify-center items-center flex-col px-10">
                    <h2 class="text-mc-yellow text-4xl font-bold mb-8">Hey detectives!</h2>
                    <p class="mb-4">
                        <span class="text-red-50 text-2xl">We've closed our website, but don't worry, you can still find us on our Etsy shop! Click the button below to continue or start your detective journey with us.</span>
                    </p>

                    <div class="bg-mc-light-green rounded-5xl px-10 py-6 mb-6 relative text-center">
                        <a class="text-mc-purple font-pangram text-3xl uppercase font-extrabold" href="https://www.etsy.com/uk/shop/MysticCase">Visit Our Etsy Shop</a>
                    </div>

                    <p>
                        <span class="text-red-50 text-2xl">Thank you for your support, and we look forward to seeing you on Etsy!</span>
                    </p>
                </div>
            </div>
        </div>

        {{template "feedback" .}}

    </main>

{{end}}
